* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar { display: none }

html { font-size: 62.5% }

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: #222;
    line-height: 1;
}

#splash-screen {}

#prompt {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% / 4);
    display: flex;
    justify-content: center;
    align-items: center;
}

#prompt.right { flex-direction: row }
#prompt.left { flex-direction: row-reverse }

.text {
    width: 98%;
    height: 98%;
    overflow-y: scroll;
    color: #fff;
}

.controls {
    width: 30%;
    height: 98%;
}

@media screen and (min-width: 550px) {
    .controls { display: none }
}